body {
  color: rgb(31, 22, 22);
  background-color: rgb(247, 229, 232);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 100px;
}

h1,
h2 {
  color: brown;
  font-style: italic;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.foto {
  width: 150px;
  height: 200px;
  float: right;
  border-radius: 10%;
 padding-bottom: 5%;
 padding-top: 5%;
  
}

/*.udaje {
  padding: 0 5% 5% 0;
}*/



.telo {
  padding: 100px 25%;
  text-align: justify;
  
}

.kontakt,
.vzdelani,
.jazyky,
.znalosti {
  background-color: rgb(241, 228, 237);
}

.paticka {
    background-color: rgb(241, 214, 241);
    text-align: center;
    color: brown;
}

.kontakt{
  text-align: left;
  padding: 0 5% 0 2%;
  overflow: auto;
 
  }

  .praxe,
  .vzdelani {
    padding: 0 5% 0 0;
  }